POSTGRES_USER=
POSTGRES_PASSWORD=

POSTGRES_DB=splitit
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

NEXT_PUBLIC_API_URL=http://localhost:8080

# Al menos 32 caracteres (HMAC-SHA256)
JWT_SECRET=
JWT_EXPIRATION_HOURS=8
